.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(128, 6, 6);
    padding: 10px;
    color: white;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  