.CartWidget {
    display: flex;
    margin-right: 40px;
}

.CartWidget p {
    color:black;
    background-color: white;
    border: 3px solid black;
    border-radius: 100%;
    padding: 8px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(128, 6, 6);
    padding: 10px;
    color: white;
}
  
.nav-links {
    list-style: none;
    display: flex;
}
  
.nav-links li {
    margin-right: 20px;
}
  
.nav-links li a {
  color: rgb(141, 113, 113);
  text-decoration: none;
}
  
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
    color: white;
}
  
.item-list-container {
    background-color: rgb(128, 6, 6);
    padding: 8px;
    margin-top: 40px;
}


.item-list-container p {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 24px;
}

.item-list-container p:hover {
    color: rgba(255, 255, 255, 0.467);
}
 
  /* Estilos para los elementos de la lista de productos */
  .product-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .product-item img {
    max-width: 10%;
    height: auto;
  }
  
  .product-details {
    margin-top: 10px;
  }
  
  .product-title {
    font-size: 18px;
    font-weight: bold;
    color: rgb(21, 20, 20);
  }
  
  .product-price {
    font-size: 16px;
  }
  
  .product-category {
    font-size: 14px;
    color: rgb(61, 12, 152);
  }
  

  /* TuEstilo.css */

/* Estilo para el contenedor del footer */
.footer-container {
  background-color: rgb(128, 6, 6);
  padding: 20px; /* Espaciado interior del footer */
  display: flex;
  justify-content: center; 
  align-items: center; 
}

/* Estilo para los botones de categoría */
.category-button {
  background-color: white;
  color:rgb(61, 12, 152); /* Color de texto del botón */
  text-transform: uppercase;
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interior del botón */
  margin: 5px; /* Margen entre los botones */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  font-size: 10px;
}


/* Estilo al pasar el cursor sobre el botón */
.category-button:hover {
  background-color: rgb(188, 48, 118);
}
